
  .content-despliegue {
    max-width: 100%;
    width: 80%;
    overflow: hidden;
    background-color: #e7e7e700;
    background-color: rgba(245, 244, 244, 0.06);
    color: #000;
    box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
    border-radius: 20px;
    display:flex;
    margin-top: 1%;
    margin-left: 2%;
  }
  
  .content2 {
    max-width: 100%;
    width: 96.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: auto;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: rgba(245, 244, 244, 0.06);
    text-align: center; /* Centra horizontalmente el texto */
    margin: 10px;
    padding: 10px;
  }
  
  h3 {
    padding-bottom: 20px;
    box-shadow: 0 1px 0 rgba(36, 35, 35, 0.1), 0 2px 0 rgba(255, 255, 255, 0.9);
  }
  
  
  /* Ajusta el espacio entre los botones según sea necesario */
  .actions + .actions {
    margin-left: 10px;
  }
  
  .order-by {
    display: flex;
    align-items: center;
    margin-left: 5px; /* Ajusta según sea necesario */
    width: 20%;
  }
  
  .order-by select {
    margin-left: 10px;
  }
  
  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #060606;
    font-weight: 600;
    color: black;
    width: 100%; /* Establece el ancho al 100% */
    text-align: center;
  }
  
  h1 span {
    font-family: monospace, serif;
  }
  
  
  p {
    margin: 0;
    padding: 10px 0;
    color: #131313;
  }
  
  .clear {
    clear: both;
  }
  
  
  /* Estilos para el modal */
  .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReactModal__Content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 10%;
    margin-left: 30%;
    padding: 20px;
    max-width: 400px; /* Ajusta según sea necesario */
    background-color: #868686;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 42%;
  }
  
  a.link {
  display: contents;
  }
  
  label.title {
    color: #060606;
  }

  /* Ajuste para pantallas muy grandes */


/* @media only screen and (max-width: 992px) {
  .content-despliegue {
    width: 85%;
    margin: 20px 0 0 7%;
  }

  .content2 {
    width: 100%;
    margin: 20px auto;
  }

  h3 {
    box-shadow: none;
  }

  .order-by {
    width: 15%;
  }

  h1 {
    font-size: 28px;
  }

  .ReactModal__Content {
    margin-top: 15%;
    margin-left: 35%;
    max-width: 500px;
  }
} */

  /* Ajuste general para pantallas grandes */
/* @media only screen and (min-width: 992px) {
  .content-despliegue {
    width: 85%;
    margin: 20px 0 0 7%;
  }

  .content2 {
    width: 100%;
    margin: 20px auto;
  }

  h3 {
    box-shadow: none;
  }

  .order-by {
    width: 15%;
  }

  h1 {
    font-size: 28px;
  }

  .ReactModal__Content {
    margin-top: 15%;
    margin-left: 35%;
    max-width: 500px;
  }
} */

/* Ajuste para pantallas de celular */
/* @media only screen and (max-width: 767px) {
  .content-despliegue {
    width: 80%;
    margin: 10px 0 0 12%;
  }

  .content2 {
    width: 95%;
    margin: 10px auto;
  }

  h3 {
    font-size: 18px;
  }

  .order-by {
    width: 100%;
  }

  h1 {
    font-size: 22px;
  }

  .ReactModal__Content {
    margin-top: 10%;
    margin-left: 5%;
    max-width: 90%;
  }
} */


/* Ajuste para pantallas de celular */
/* @media only screen and (max-width: 599px) {
  .content-despliegue {
    width: 90%;
    margin: 10px 0 0 15%;
  }

  .content2 {
    width: 95%;
    margin: 10px auto;
  }

  h3 {
    font-size: 16px;
  }

  .order-by {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  .ReactModal__Content {
    margin-top: 10%;
    margin-left: 5%;
    max-width: 90%;
  }
} */


