button {
    background-color: #009940; /* Color de fondo verde */
    color: #fff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntador al pasar por encima */
    font-size: 1em; /* Tamaño de la fuente */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  button:hover {
    background-color: #007f33; /* Color de fondo verde oscuro al pasar por encima */
  }