/* Table.css */
.Users_main{
  max-width: 100%;
  width: 82%;
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  margin:1% 0 0 0;
  flex-direction: column;
  height: auto;
  margin-left: 2%;
}

.content_u{
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
}



/* Estilos para el modal */

#modal {
  position: absolute;
  width: 20%;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal p {
  margin-bottom: 10px;
  color: #009940;
}

.modal label {
  margin-bottom: 10px;
  color: #009940;
}

.modal button {
  display: flex;
  padding: 10px;
  background-color: #009940;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #009940;
}

/* Estilos específicos para los modales de Editar y Eliminar */
.modal-editar {
  width: 300px;
}

.modal-eliminar {
  width: 300px;
  color: #e74c3c; /* Color rojo */
}


h2 {
  text-align: center;
  color: #333;
}

/* Estilos para los campos de entrada */
label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  /* width: 100%; */
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.bar_search_u {
  display: flex;
  width: 80%;
  max-width: 100%; 
  margin: auto;
}

.btn_crear{
  width: 90%;
}
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: calc(300% - 10px); /* Ajusta según sea necesario */
  margin-top: 2px;
}

.search-bar input {
  flex: 1; /* Hace que el input tome el espacio restante */
  padding: 10px;
  margin: 5px; /* Puedes ajustar este margen según sea necesario */
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ececec;
}

.search-bar svg {
  cursor: pointer;
  position: absolute;
  margin-left: 90%;
}


.order {
  display: flex;
  align-items: center;
  margin-left: 5px; /* Ajusta según sea necesario */
  width: 25%;
}

.order select {
  margin-left: 10px;
}

.btn_crear::after
.close-button::after{
  content: attr(data-tooltip);
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  opacity: 0;
  padding: 0.5em;
  position: absolute;
  transition: all .25s ease;
  white-space: nowrap;
  z-index: 1;
  font-size: 1vw;
}

.btn_crear:hover::after,
.close-button actions:hover::after{
  opacity: 1;
  visibility: visible;
}

.modify-button-class {
  background-color: #009940; 
  color: white; 
  padding: 10px;
}

.cancel-button-class {
  background-color: #4886C6; 
  color: white; 
  padding: 10px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}
.loading-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh; /* Ajusta la altura según sea necesario */
}

.loading-container h3 {
  margin-top: 10px; /* Añade un pequeño espacio entre el logo y el texto */
}

@media (min-width: 2000px) and (max-width: 4000px){
  .Users_main h2{
    font-size: 2em;
  }
}

@media (min-width: 1110px) and (max-width: 2000px){
  .Users_main h2{
    font-size: 1.5em;
  }
}

@media (max-width: 1110px) {
  .Users_main h2{
    font-size: 1.5em;
  }
  .create{
    width: 100%; 
    height:80%;
    margin: 0;
  }

  .order {
    display: flex;
    align-items: center;
    margin-left: 5px; /* Ajusta según sea necesario */
    width: 50%;
  }
  
  .order select {
    margin-right: 50px;
  }

  .btn_crear {
    width: 70%; 
    height: 100%;
  }
}
@media (max-width: 750px) {
  .Users_main h2{
    font-size: 1.5em;
  }

  .bar_search_u {
    flex-direction: column; 
  }
  .order {
    display: flex;
    margin:auto;
    width: 80%;
  }
  
  .order select {
    margin-right: 50px;
  }

  .btn_crear {
    width: 70%;
    display: flex;
    margin: auto;
  }
}
@media (max-width: 550px) {
  h2{
    font-size: 1em;
  }
  .bar_search_u {
    flex-direction: column; 
  }
  .order {
    display: flex;
    margin:auto;
    width: 80%;
  }
  
  .order select {
    margin-right: 50px;
  }

  .btn_crear {
    width: 60%;
    display: flex;
    margin: auto;
  }
}



