/* styles.css */
.custom-chart-container {
    position: relative;
  }
  
  .custom-chart-container .react-chartjs-2 {
    /* Estilos para el contenedor del gráfico */
    max-width: 100px;
    margin: 0 auto; /* Centra el gráfico horizontalmente */
  }
  
  .custom-chart-container canvas {
    /* Estilos para el lienzo del gráfico */
    border-radius: 8px; /* Agrega bordes redondeados al gráfico */
    box-shadow: 0 4px 8px rgb(8, 4, 247); /* Agrega sombra al gráfico */
  }
  
  .custom-chart-container h1 {
    /* Estilos para el título del gráfico */
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #eb0606; /* Color del texto */
  }
  
  /* Estilos para las etiquetas del gráfico */
  .custom-chart-container .radar-chart .radar-chart-labels {
    font-size: 50px;
    font-weight: bold;
    color: #09ff00; /* Color de las etiquetas */
  }
  
  /* Estilos para las leyendas del gráfico */
  .custom-chart-container .radar-chart .radar-chart-legend {
    font-size: 12px;
    color: #d0f500; /* Color de las leyendas */
  }
  
  /* Estilos para las áreas del gráfico */
  .custom-chart-container .radar-chart .radar-chart-area {
    fill-opacity: 0.2; /* Opacidad del área */
  }
  
  /* Estilos para las líneas del gráfico */
  .custom-chart-container .radar-chart .radar-chart-line {
    stroke-width:5; /* Ancho de la línea */
  }
  
  /* Estilos para los puntos del gráfico */
  .custom-chart-container .radar-chart .radar-chart-point {
    fill-opacity: 1; /* Opacidad del punto */
    stroke-width: 2; /* Ancho del borde del punto */
  }
  