.container-body-carac {
  max-width: 100%;
  justify-content: center !important;
  align-items: center !important;
  width: 75%;
  padding: 45px;
  background-color: #e7e7e7;
  background-color: rgba(245, 244, 244, 0.06);
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 2%;
}

.btns_s,
.btns_ms{
  background-color: #009940;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  margin-right: 5px;
}
.btns_s:hover,
.btns_ms:hover {
  background-color: #9CC430;
}

.icono-checkbox {
  color: #009940 !important;
}

/* Estilo para el ícono de opcion_unica */
.icono-opcion-unica {
  color: #009940 !important;
}



.input {
  margin-right: 10px; /* Espacio entre el input y el texto */
}

/* Estilos para checkboxes y radios */
.input[type="checkbox"],
.input[type="radio"] {
  /* Alinear a la derecha */
  order: 2; /* Cambia el orden */
}

/* Estilos para los labels */
label {
  /* Alinear a la izquierda */
  order: 1; /* Cambia el orden */
}

.form-container-guia {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}


.form-section-guia {
  max-width: 100%;
  width: 100%;
  align-items: center;
  border: 1px #ddd;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 5px;
}


.section-header-guia {
  margin: auto;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border-left: 5px solid #009940;
}

.text-header {
  display: flex;
  align-items: center;
}

.headers_btn {
  width: 50px;
  background: #009940;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.headers_btn:first-child {
  margin-left: 0;
}

.headers_btn:last-child {
  margin-left: 50px;
}

.btns {
  display: flex;
  margin-left: auto;
}

.campo-button:hover {
  background-color: #9CC430;
}

.text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-header {
  display: flex;
  align-items: center;
}

.headers_btn {
  cursor: pointer;
  margin-left: 5px;
}

.questions {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.btns button {
  background-color: #009940;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}
.btns button:hover {
  background-color: #9CC430;
}

/* Nueva regla CSS para .questions p */
.questions p {
  margin-right: auto;
}

.btns button:last-child {
  margin-right: 0;
}

.campos-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.campo-button {
  background-color: #009940;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.campos-container p {
  
  font-weight: bold;
  margin-bottom: 10px;
}

.form-question label {
  color: #009940;
  margin-left: 20px;
  font-weight: bold;
}

.secciones {
  overflow: hidden;
}

.form-question select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.guia-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  overflow: hidden;
}

.titulo-pantalla {
  margin: 0;
}


.button-agregar {
  background-color: #009940;
  color: #ffffff;
}


.tipo-pregunta {
  border-color: #009940;
}

.btns_s::after,
.headers_btn::after,
.tipo-pregunta::after,
.button-agregar::after {
  content: attr(data-tooltip);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  color: #fff;
  opacity: 0;
  padding: 0.5em;
  position: absolute;
  transition: all .25s ease;
  white-space: nowrap;
  z-index: 1;
  font-size: 1vw;
}

.btns_s:hover::after,
.headers_btn:hover::after,
.tipo-pregunta:hover::after,
.button-agregar:hover::after {
  opacity: 1;
  visibility: visible;
  
}

.contenedor-externo {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
}

.titulo-y-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.icono-tipo {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border: solid #009940 2px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 18px;
  margin-top: -15px;
  margin-left: 10px;
}

.Input-preguntas,
.icono-tipo {
  flex-direction: row;
}

.icono {
  margin-right: 8px;
  font-size: inherit;
}

.tipo-pregunta {
  font-weight: bold;
  font-size: inherit;
}

.otrasOP {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.button-opciones {
  background-color: #ffffff;
  color: #fa4141;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
}

.button-opciones:hover {
  background-color: #009940;
}

.añadirOpcion {
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
  border-color: #009940;
}

.OpcionOtra {
  color: #009940;
  cursor: pointer;
}

.contenedor-preguntas {
  display: flex;
}

.respuesta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Input-respuestas {
  margin-right: 10px;
}

.contenedor_interno{
  width: 50%;
}

.form-sectioon{
  max-width: 1000vw;
  width: 100%;
}

.Modal{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Modal-tipos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px;
  background-color: #fff;
  align-items: stretch; /* Todas las celdas tienen la misma altura */
}

.btn_td {
  display: flex;
  justify-content: space-between;
}

.textarea{
  width: 100%;
}

.lista-horizontal {
  display: flex; 
  flex-wrap: wrap; 
  gap: 30px; 
}


.lista-horizontal li {
  display: flex; 
  align-items: center; 
  margin-right: 10px; 
}


.lista-horizontal button{
  width: 100%;
}
/* Media query para pantallas de 600px o menos */
@media (max-width: 600px) {
  .Modal-tipos {
    grid-template-columns: 1fr; /* Una columna */
  }
}

.modal_secciones .ReactModal__Content {
  background-color: rgba(255, 255, 255, 0) !important; /* Fondo transparente */
  border: none !important; /* Sin borde */
  border-radius: 0 !important; /* Sin bordes redondeados */
}

.Modal_sec {
  background-color: rgba(255, 255, 255); /* Fondo blanco */
  padding: 0 20px;
  border-radius: 8px;
  width: 90%; /* Ocupar todo el ancho del modal */
  height: 100%; /* Ocupar todo el alto del modal */
  display: flex;
  flex-direction: column; /* Alinear los elementos en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}
.btns_sec {
  display: flex;
  justify-content: space-between;
}

.save_btn,
.cancel_btn {
  margin:5%;
  border: none;
  cursor: pointer;
}

/* Estilos adicionales para los botones según sea necesario */
.save_btn {
  background-color: #009940;
  color: #fff;
}

.cancel_btn {
  background-color: #009940;
  color: #fff;
}



@media (max-width: 700px) {
  .Modal_sec {
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}


/* Estilos para los botones */
.save_btn,
.cancel_btn {
  margin-top: 10px;
  /* Otros estilos de los botones */
}










.save_btn,
.cancel_btn
{
  width: 80%;
  background-color: #009940;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  padding: 8px;
}
.btn_op
{
  width: 20%;
  background-color: #009940;
  justify-content: center;
  align-items: center;
}

.save_btn:hover ,
.cancel_btn:hover
{
  background-color: #009940;
}
.btn_op:hover
{
  background-color: #009940;
}


