.container_full {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.search-and-create,.search-bar {
  max-width: 100%;
  width: 99%;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-x: hidden;
  flex-direction: row;
  margin: 5px;
  position: relative; /* Añade posición relativa para que el absoluto del ícono sea relativo al contenedor */
}

.search-bar input {
  width: calc(100% - 4vw); /* Ajusta según sea necesario */
  border: none;
  outline: none;
  padding: 2vw;
  border-radius: 1vw; /* Ajusta según sea necesario */
}

.guias-list-container {
  max-width: 100%;
  width: 99%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: hidden;
  overflow-x: hidden;
  flex-direction: row;
  overflow-y: auto;
  margin: 5px;
}

.guias-list-container > * {
  margin: 0 5px 5px 15px; /* Ajusta según sea necesario */
  /* Esto establece un margen derecho y un margen inferior entre elementos */
}

.load-wrapp {
  align-items: center;
  min-width: calc(24% - 10px); /* Tamaño fijo en píxeles */
  width: calc(24% - 10px); /* Tamaño fijo en píxeles */
  max-height: 100%;
  margin-bottom: 20px; /* Tamaño fijo en píxeles */
  padding: 20px; /* Tamaño fijo en píxeles */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  border: 1px solid #DADCE0;
  box-sizing: border-box;
  order: 1;
  overflow: hidden;
}

.load-wrapp p {
  font-size: 1em; /* Ajusta según sea necesario */
  max-height: none; /* Ajusta según sea necesario */
  overflow: hidden;
  white-space:nowrap;
  margin: 10px 0;
}
.load-wrapp h1 {
  font-size: 1em; /* Ajusta según sea necesario */
  max-height: none; /* Ajusta según sea necesario */
  overflow: hidden;
  white-space:nowrap;
  margin: 10px 0;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}

.search-icon {
  margin-left: 8px;
  color: #777;
  cursor: pointer;
}

/* Estilos para hacer el ícono dentro del input */
.search-bar {
  position: relative;
}

.input {
  padding-right: 30px; /* Ajusta según sea necesario para dejar espacio al ícono */
}

.search-icon {
  position: absolute;
  right: 2%; /* Ajusta según sea necesario para la posición del ícono dentro del input */
  top: 50%;
  transform: translateY(-50%);
}

.search-and-create .btn_crear{
  background-color: #009940;
}

.btn_crear {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Ajusta según sea necesario */
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición de color al pasar el ratón */
}

.btn_crear:hover {
  background-color: #009940; /* Cambia el color de fondo al pasar el ratón */
}

.btn_crear span {
  margin-left: 5px; /* Espacio entre el icono y el texto, ajusta según sea necesario */
}


.guia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; /* Tamaño fijo en píxeles */
}

.guia-header h1 {
  font-display: flex;
  font-size: 1.5em; /* Tamaño fijo en píxeles */
}

.p {
  font-display: flex;
  font-size: 1.5em; /* Tamaño fijo en píxeles */
  padding: 2%;
}

.buttons-container {
  display: flex;
  align-items: center;
}



.icon {
  cursor: pointer;
  margin-top: 1em;
  font-size: 25px;
}

.icons {
  flex-direction: column;
  display: flex; /* Establecer como un contenedor flexible */
  justify-content: center; /* Centrar horizontalmente los elementos */
  gap: 10px; /* Espacio entre los botones */
}

.icons button {
  background: white; /* Fondo blanco */
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cursor tipo puntero al pasar por encima */
  padding: 5px; /* Espaciado interno */
  display: flex; /* Establecer como un contenedor flexible */
  align-items: center; /* Centrar verticalmente los iconos */
}

.icons button:hover {
  background: #f0f0f0; /* Cambiar color de fondo al pasar el mouse */
}

.icons button .icon {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

.icon-edit,
.icon-trash {
  color: #009940;
  display: inline-block;
  width:100%;
}

.icon-edit::after,
.icon-trash::after {
  content: attr(data-tooltip);
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  opacity: 0;
  padding: 0.5em;
  position: absolute;
  transition: all .25s ease;
  white-space: nowrap;
  z-index: 1;
  font-size: 1vw;
}

.icon-edit:hover::after,
.icon-trash:hover::after {
  opacity: 1;
  visibility: visible;
}

.modify-button-class {
  background-color: #009940; 
  color: white; 
  padding: 10px;
}

.cancel-button-class {
  background-color: #4886C6; 
  color: white; 
  padding: 10px;
}


@media only screen and (min-width: 50px) and (max-width: 200px) {
  .load-wrapp {
    min-width: calc(80% - 20px);
    width: calc(80% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  } 
  .search-and-create, .search-bar {
    max-width: 100%;
    width: 99%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
    flex-direction: column; /* Cambia la dirección a columna */
    margin: 5px;
  }

  .icons{
    width: 10vw;
  }
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .load-wrapp {
    min-width: calc(90% - 20px);
    width: calc(90% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  } 
  .search-and-create, .search-bar {
    max-width: 100%;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
    flex-direction: column; /* Cambia la dirección a columna */
    margin: 5px;
    position: relative; /* Añade posición relativa para que el absoluto del ícono sea relativo al contenedor */
  }

}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .load-wrapp {
    min-width: calc(48% - 20px);
    width: calc(48% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    float: left; /* Para que las tarjetas se muestren una al lado de la otra */
  }
  .search-and-create, .search-bar {
    max-width: 100%;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
    position: relative; /* Añade posición relativa para que el absoluto del ícono sea relativo al contenedor */
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .load-wrapp {
    min-width: calc(33.3% - 20px);
    width: calc(33.3% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    float: left; /* Para que las tarjetas se muestren una al lado de la otra */
  }

  .search-and-create, .search-bar {
    max-width: 100%;
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
    margin: 5px;
    position: relative; /* Añade posición relativa para que el absoluto del ícono sea relativo al contenedor */
  }
}

@media only screen and (min-width:1100px) and (max-width: 2500px) {
  .load-wrapp {
    min-width: calc(25% - 20px);
    width: calc(25% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    float: left; /* Para que las tarjetas se muestren una al lado de la otra */
  }
  .search-and-create, .search-bar {
    max-width: 100%;
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
    margin: 5px;
    position: relative; /* Añade posición relativa para que el absoluto del ícono sea relativo al contenedor */
  }
}