.container-full {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

/* Estilos base para todas las pantallas */
.search, .search-barra {
  max-width: 100%;
  width: 99%;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-x: hidden;
  flex-direction: row;
  margin: 5px;
  position: relative; /* Añade posición relativa para que el absoluto del ícono sea relativo al contenedor */
}
 .search-bar {
  max-width: 100%;
  width: 99%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px;
}

.search-barra input {
  width: calc(100% - 4vw); /* Ajusta según sea necesario */
  border: none;
  outline: none;
  padding: 2vw;
  border-radius: 1vw; /* Ajusta según sea necesario */
}
.search-barra .actions{
  background-color: #009940; 
}

.guias-desp-container h1 {
  font-size: 1em; /* Ajusta según sea necesario */
  max-height: none; /* Ajusta según sea necesario */
  overflow: hidden;
  white-space:nowrap;
  margin: 10px 0;
}

.guias-desp-container .contenido.active {
  background-color: #009940; /* Cambia este color al que desees para el estado activo */
}



@media only screen and (min-width: 1200px) {

  

  .search-barra input {
    width: 80%; /* Ajusta según sea necesario */
    margin-bottom: 1vw; /* Espaciado entre el input y el ícono */
    padding: 1vw;
    border-radius: 0.5vw;
  }

  .icon-search {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 37.5; /* Alinea el ícono a la derecha */
  }
}
.guias-desp-container {
  max-width: 100%;
  width: 99%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: hidden;
  overflow-x: hidden;
  flex-direction: row;
  margin: 5px;
}

.guias-desp-container > * {
  margin: 5px; /* Ajusta según sea necesario */
  /* Esto establece un margen derecho y un margen inferior entre elementos */
}

.contenido {
  align-items: center;
  min-width: calc(25% - 10px); /* Tamaño fijo en píxeles */
  width: calc(25% - 10px); /* Tamaño fijo en píxeles */
  max-height: 100%;
  margin-bottom: 20px; /* Tamaño fijo en píxeles */
  padding: 20px; /* Tamaño fijo en píxeles */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  border: 1px solid #DADCE0;
  box-sizing: border-box;
  order: 1;
  overflow: hidden;
}

.contenido p{
  font-size: 1em; /* Ajusta según sea necesario */
  max-height: none; /* Ajusta según sea necesario */
  overflow: hidden;
  white-space:nowrap;
  margin: 10px 0;
}

.guia-cabecera {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Tamaño fijo en píxeles */
}

.guia-cabecera h1 {
  font-display: flex;
  font-size: 1.5em; /* Tamaño fijo en píxeles */
}

.p {
  font-display: flex;
  font-size: 1.5em; /* Tamaño fijo en píxeles */
  padding: 2%;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.icon-check{
  cursor: pointer;
  margin-left: auto; /* Espaciado entre los elementos */
  align-items:flex;
}

.icon {
  font-size: 25px; /* Tamaño fijo en píxeles */
  cursor: pointer;
  margin-left: auto; /* Espaciado entre los elementos */
  align-items: center;
  margin-top: -4px;
  color: #009940;
}

.icon-check {
  font-size: 25px; /* Tamaño fijo en píxeles */
  color: #009940;
}

.icon-check.selected {
  color: #009940;
}



@media only screen and (max-width: 480px) {
  .search-barra {
    flex-direction: column; /* Cambia a dirección de columna para pantallas pequeñas */
  }

  .search-barra input {
    width: 80%; /* Ajusta según sea necesario */
    margin-bottom: 1vw; /* Espaciado entre el input y el ícono */
    padding: 1vw;
    border-radius: 0.5vw;
  }
  

}



/* Estilos para pantallas grandes */
@media only screen and (min-width: 1200px) {
  .contenido {
    width: calc(25% - 20px); /* Tamaño fijo en píxeles */
    margin-bottom: 20px; /* Tamaño fijo en píxeles */
  }
  .guia-cabecera h1 {
    font-size: 1.5em; /* Tamaño fijo en píxeles */
  }
  .p {
    font-size: 20px; /* Tamaño fijo en píxeles */
  }
  .icon {
    font-size: 25px; /* Tamaño fijo en píxeles */
  }
  .icon-check {
    font-size: 30px; /* Tamaño fijo en píxeles */
  }
 
  
}

@media only screen and (max-width: 950px) {
  .contenido {
    width: calc(34.5% - 20px); /* Tamaño fijo en píxeles */
    margin-bottom: 20px; /* Tamaño fijo en píxeles */
  }
  .guia-cabecera h1 {
    font-size: 1.5em; /* Tamaño fijo en píxeles */
  }
  .p {
    font-size: 20px; /* Tamaño fijo en píxeles */
  }
  .icon {
    font-size: 25px; /* Tamaño fijo en píxeles */
  }
  .icon-check {
    font-size: 30px; /* Tamaño fijo en píxeles */
  }
}

/* Estilos para pantallas medianas */
@media only screen and (max-width: 768px) {
  .contenido {
    width: calc(50% - 20px); /* Tamaño fijo en píxeles */
    margin-bottom: 20px; /* Tamaño fijo en píxeles */
  }
  .icon {
    font-size: 25px; /* Tamaño fijo en píxeles */
  }
  .icon-check {
    font-size: 25px; /* Tamaño fijo en píxeles */
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (min-width: 200px) and (max-width: 480px) {
  .contenido {
    width: calc(100% - 20px); /* Tamaño fijo en píxeles */
    margin-bottom: 20px; /* Tamaño fijo en píxeles */
  }
  .icon {
    font-size: 25px; /* Tamaño fijo en píxeles */
  }
  .icon-check {
    font-size: 25px; /* Tamaño fijo en píxeles */
  }
}

@media only screen and (min-width: 100px) and (max-width: 200px) {
  .contenido {
    width: calc(100% - 20px); /* Tamaño fijo en píxeles */
    margin-bottom: 20px; /* Tamaño fijo en píxeles */
  }
  .icon {
    font-size: 20px; /* Tamaño fijo en píxeles */
  }
  .icon-check {
    font-size: 20px; /* Tamaño fijo en píxeles */
  }
}