.content-guia-p {
    max-width: 100%;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: rgba(245, 244, 244, 0.06);
    box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
    border-radius: 20px;
    width: 80%; 
    margin-left: 2%;
}

.content2 {
  max-width: 100%;
  width: 95.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  text-align: center; /* Centra horizontalmente el texto */
}



h3 {
  padding-bottom: 20px;
}

.order-by {
  display: flex;
  align-items: center;
  margin-left: 5px; /* Ajusta según sea necesario */
  width: 20%;
}

.order-by select {
  margin-left: 10px;
}

h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #060606;
  font-weight: 600;
  color: black;
  width: 100%; /* Establece el ancho al 100% */
}

h1 span {
  font-family: monospace, serif;
}

p {
  margin: 0;
  padding: 10px 0;
  color: #131313;
}

.clear {
  clear: both;
}



a.link {
  display: contents;
}

label.title {
  color: #060606;
}

.btn_crear{
  background-color: #4caf50;
}






@media only screen and (min-width: 100px) and (max-width: 599px) {
  .content-guia-p {
    width: 90%; /* Ajusta el ancho para pantallas medianas */
    margin: 1% auto; /* Centra el elemento en pantallas medianas */
  }

  .content2 {
    width: 85%; /* Ancho ajustado para pantallas medianas */
    padding: 15px; /* Ajusta el espacio de relleno */
    margin: 0 auto; /* Centra el elemento en pantallas medianas */
    margin-bottom: 30px; /* Aumenta el margen inferior */
  }

  h1 {
    padding-bottom: 15px; /* Ajusta el espacio entre el título y el contenido */
  }

  .order-by {
    margin-left: 10px; /* Ajusta el margen izquierdo */
    width: 40%; /* Ancho ajustado para pantallas medianas */
  }

  p {
    padding: 10px 0; /* Ajusta el espacio de relleno */
  }

  .ReactModal__Content {
    margin-top: 10%; /* Ajusta el margen superior */
    margin-left: 50%; /* Ajusta el margen izquierdo */
    padding: 20px; /* Ajusta el espacio de relleno */
    max-width: 500px; /* Ajusta el ancho máximo */
    height: 60%; /* Ajusta la altura */
  }
}
@media only screen and (max-width: 1024px) {
  .content-guia-p {
    width: 82%; /* Ajusta el ancho para pantallas medianas */
    margin: 1% auto; /* Centra el elemento en pantallas medianas */
  }

  .content2 {
    width: 85%; /* Ancho ajustado para pantallas medianas */
    padding: 15px; /* Ajusta el espacio de relleno */
    margin: 0 auto; /* Centra el elemento en pantallas medianas */
    margin-bottom: 30px; /* Aumenta el margen inferior */
  }

  h1 {
    padding-bottom: 15px; /* Ajusta el espacio entre el título y el contenido */
  }

  .order-by {
    margin-left: 10px; /* Ajusta el margen izquierdo */
    width: 40%; /* Ancho ajustado para pantallas medianas */
  }

  p {
    padding: 10px 0; /* Ajusta el espacio de relleno */
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .content-guia-p {
    width: 82%; /* Ajusta el ancho para pantallas medianas */
    margin: 1% auto; /* Centra el elemento en pantallas medianas */
  }

  .content2 {
    width: 85%; /* Ancho ajustado para pantallas medianas */
    padding: 15px; /* Ajusta el espacio de relleno */
    margin-top: 2%; /* Centra el elemento en pantallas medianas */
    margin-bottom: 30px; /* Aumenta el margen inferior */
  }

  h1 {
    padding-bottom: 15px; /* Ajusta el espacio entre el título y el contenido */
  }

  .order-by {
    margin-left: 10px; /* Ajusta el margen izquierdo */
    width: 40%; /* Ancho ajustado para pantallas medianas */
  }

  p {
    padding: 10px 0; /* Ajusta el espacio de relleno */
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2000px) {
  .content-guia-p {
    width: 82%; /* Ajusta el ancho para pantallas medianas */
    margin-top:1%; /* Centra el elemento en pantallas medianas */
    height: auto;
    overflow-y:inherit;
  }

  .content2 {
    width: 85%; /* Ancho ajustado para pantallas medianas */
    padding: 15px; /* Ajusta el espacio de relleno */
    margin: 0 auto; /* Centra el elemento en pantallas medianas */
    margin-bottom: 30px; /* Aumenta el margen inferior */
  }

  h1 {
    padding-bottom: 15px; /* Ajusta el espacio entre el título y el contenido */
  }

  .order-by {
    margin-left: 10px; /* Ajusta el margen izquierdo */
    width: 40%; /* Ancho ajustado para pantallas medianas */
  }

  p {
    padding: 10px 0; /* Ajusta el espacio de relleno */
  }
}

