.content-home-p {
    margin-top: 0.5%;
    max-width: 100%;
    max-height: 100%;
    height: 98%;
    overflow: hidden;
    background-color: #fff;
    border: black solid 2px;
    border-radius: 20px;
    width: 88.5%; 
    
}


.content-home {
    max-width: 100%;
    width: 100%;
    max-height: auto;
    height: 400vh;
  }

  .content-home img {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    width: 100%;
    height: 20%; /* Ajusta la altura automáticamente según el ancho para mantener la relación de aspecto */
  }