.page {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: rgba(245, 244, 244, 0.06);
    border-radius: 20px;
    width: 88.5%; 
    
}

.Bienvenida {
  max-width: 100%;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  text-align: center; /* Centra horizontalmente el texto */
  flex-direction: column;
}
.icono-casac{
    width: 50%;
    height: auto;
    display: flex;
    margin: auto;
}
@media only screen and (min-width: 1px) and (max-width: 599px) {
    .icono-casac{
        width: 100%;
        display: flex;
        margin: auto;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .icono-casac{
        width: 80%;
        display: flex;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1250px) {
    .icono-casac{
        width: 50%;
        display: flex;
        margin: auto;
    }
}

@media only screen and (min-width: 1250) and (max-width: 1800px) {
    .icono-casac{
        width: 50%;
        display: flex;
        margin: auto;
    }
}

@media only screen and (min-width: 1800) and (max-width: 2200px) {
    .icono-casac{
        width: 50%;
        display: flex;
        margin: auto;
    }
}

@media only screen and (min-width: 2200) and (max-width: 3000px) {
    .icono-casac{
        width: 50%;
        display: flex;
        margin: auto;
    }
}


@media only screen and (min-width: 3000) and (max-width: 4000px) {
    .icono-casac{
        width: 50%;
        display: flex;
        margin: auto;
    }
}

@media only screen and (min-height: 100px) and (max-height: 250px) {
    .icono-casac {
      width: 20%;
    }
  }
  @media only screen and (min-height: 250px) and (max-height: 500px) {
    .icono-casac {
      width: 20%;
    }
  }

  @media only screen and (min-height: 500px) and (max-height: 600px) {
    .icono-casac {
      width: 30%;
    }
  }

@media only screen and (min-height: 600px) and (max-height: 800px) {
    .icono-casac {
      width: 50%;
    }
  }
  @media only screen and (min-height: 800px) and (max-height: 1000px) {
    .icono-casac {
      width: 55%;
    }
  }
  @media only screen and (min-height: 1000px) and (max-height: 1200px) {
    .icono-casac {
      width: 60%;
    }
  }
  @media only screen and (min-height: 1200px) and (max-height: 1500px) {
    .icono-casac {
      width: 70%;
    }
  }
  @media only screen and (min-height: 1500px) and (max-height: 2500px) {
    .icono-casac {
      width: 70%;
    }
  }
  
  