body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Evitar scroll */
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100% del viewport width */
  height: 100vh; /* 100% del viewport height */
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100vh;  
  image-rendering: pixelated;
}

.Logo {
  max-width: 300px;
  width: 35%; /* Tamaño del logo */
  height: auto;
  max-height: 15vh;
  align-items: center;
  justify-content: center;
}

.Titulo {
  max-width: 300px;
  width: 100%; /* Tamaño del logo */
  height: 50px;
  align-items: center;
  justify-content: center;
}

.LoginContainerPrincipal {
  position: fixed;
  top: 0;
  right: 0; /* Colocar a la derecha */
  width: 30%; /* Ancho deseado */
  height: 100vh; /* Mismo alto que la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5); /* Ajustar la transparencia */
}

.login-container {
  position: fixed; /* Establece la posición como absoluta */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.445);
  background-color: rgba(255, 254, 254, 0.733);
  width: 30%; /* Ancho ajustable */
  height: 100vh;
  z-index: 9999;
}

form {
  width: 100%; /* Ajusta según sea necesario */
  max-width: 400px;
}

.h1_tittle {
  text-align: center;
}

.login-container h2 {
  text-align: center;
  color: #012b31;
}

.input-container {
  position: relative;
}

.correo,
.password {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-icon {
  position: absolute;
  top: 35%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #e95837;
}

label,
a {
  display: block;
  margin-bottom: 20px;
  color: #4886c6;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

button.login_btn {
  width: 90%;
  margin: 0 auto; /* Esto centra horizontalmente el botón */
  background-color: #009940;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex; /* Asegura que el contenido se comporte como caja flexible */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

button.login_btn:hover {
  background-color: #9cc430; /* Cambia el color de fondo a negro cuando el mouse está sobre el botón */
  color: white; /* Cambia el color del texto a blanco para mantener la visibilidad */
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 601px) {
  .LoginContainerPrincipal {
    width: 100%; /* Ancho ajustado */
    justify-content:center; /* Alinear al inicio */
  }
  
  .login-container {
    width: 90%; /* Ancho ajustado */
    justify-content:center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  
} 