.Modal_sec {
  background-color: #ffffff !important;
  max-width: 800px !important;
  width: 30% !important;
  max-height: 100% !important;
  height: auto !important;
  display: flex !important;
  margin: auto !important;
  padding: 20px !important;
  overflow-y: auto !important;
  border: none !important;
  border-radius: none !important;
  box-shadow: none !important;
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2) !important; 
}


  .Modal_sec h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Modal_sec h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .Modal_sec input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btns_sec {
    margin-top: 20px;
  }
  
  .save_btn,
  .cancel_btn {
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  .save_btn {
    background-color: #009940;
    color: white;
    border: none;
  }
  
  .cancel_btn {
    background-color: #009940;
    color: white;
    border: none;
  }
  

  