/* VerticalNavbar.css */

.vertical-navbar {
  
  width: 25%;
  transition: width 0.3s;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  
}

.vertical-navbar:hover{
  width: 90%;
  overflow: hidden;
}

.vertical-navbar {
  background-color: #e7e7e7;
  position:realtive;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 40%;
}

.vertical-navbar header {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.vertical-navbar header a {
  color: #fff;
  text-decoration: none;
}

.vertical-navbar header a:hover {
  color: #fff;
}

.vertical-navbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vertical-navbar nav ul li {
  border-bottom: 1px solid #000; /* Añade un borde inferior */
}

.vertical-navbar nav ul li a {
  color: #000;
  text-decoration: none;
  display: flex;
  margin: 10px;
  margin-left: 20px;
}

.vertical-navbar nav ul li a:hover  {
  color :#E95837;
  display: block; 
  width: 100%; 
  box-sizing: border-box; 
}

.vertical-navbar nav ul li a svg {
  margin-right: 10px;
  font-size: 24px;
  color: black;
  align-items: center; /* Centra verticalmente los elementos */
}

.vertical-navbar nav ul li a:hover svg {
  fill: #E95837;
  align-items: center; /* Centra verticalmente los elementos */
}

.vertical-navbar .pagination {
  position: fixed;
  width: 100%;
  text-align: center;
}

.vertical-navbar .pagination a {
  color: #CFD8DC;
  text-decoration: none;
  display: inline-block;
  align-items: center; /* Centra verticalmente los elementos */
}


@media only screen and (min-width: 101px) and (max-width: 599px) {
  .vertical-navbar {
    width: 30%; /* Cambiar el ancho para que ocupe todo el ancho de la pantalla */
    position: static; /* Cambiar la posición a estática para que no sea fijo */
    margin-top: 90%;
  }

  .vertical-navbar header {
    font-size: 16px; /* Reducir el tamaño del texto en pantallas pequeñas */
  }

  .vertical-navbar nav ul li a svg {
    font-size: 20px; /* Reducir el tamaño de los iconos en pantallas pequeñas */
  }

  .vertical-navbar nav ul li a {
    font-size: 12px; /* Reducir el tamaño del texto en pantallas pequeñas */
    margin-left: 10px; /* Reducir el espacio entre el icono y el texto en pantallas pequeñas */
  }

  .vertical-navbar:hover{
    width:100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2000px) {
  .vertical-navbar {
    width: 25%; /* Ajustar el ancho para pantallas grandes */
    position: static; /* Mantener la posición fija */
    margin-top: 80%; /* Ajustar el margen superior */
  }

  .vertical-navbar header {
    font-size: 18px; /* Ajustar el tamaño del texto para pantallas grandes */
  }

  .vertical-navbar nav ul li a svg {
    font-size: 30px; /* Ajustar el tamaño de los iconos para pantallas grandes */
  }

  .vertical-navbar nav ul li a {
    font-size: 20px; /* Ajustar el tamaño del texto para pantallas grandes */
    margin-left: 15px; /* Ajustar el espacio entre el icono y el texto para pantallas grandes */
  }

  .vertical-navbar:hover {
    width: 100%; /* Ajustar el ancho al hacer hover para pantallas grandes */
  }
}

@media only screen and (min-width: 2000px) and (max-width: 4000px) {
  .vertical-navbar {
    width: 20%; /* Ajustar el ancho para pantallas grandes */
    position: static; /* Mantener la posición fija */
    margin-top: 90%; /* Ajustar el margen superior */
  }

  .vertical-navbar header {
    font-size: 18px; /* Ajustar el tamaño del texto para pantallas grandes */
  }

  .vertical-navbar nav ul li a svg {
    font-size: 40px; /* Ajustar el tamaño de los iconos para pantallas grandes */
  }

  .vertical-navbar nav ul li a {
    font-size: 20px; /* Ajustar el tamaño del texto para pantallas grandes */
    margin-left: 15px; /* Ajustar el espacio entre el icono y el texto para pantallas grandes */
  }

  .vertical-navbar:hover {
    width: 100%; /* Ajustar el ancho al hacer hover para pantallas grandes */
  }
}