.container-body-prev {
  max-width: 100%;
  justify-content: center !important;
  align-items: center !important;
  margin: 1% 0 0 0;
  width:75%;
  padding: 45px;
  background-color: rgba(245, 244, 244, 0.06);
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
  border-radius: 20px;
  margin-left: 2%;
}

.container-body-button {
  margin: 3% auto;
}

.link button:hover {
  background-color: #45a049;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-container {
  max-width: 100%;
  margin: 0 auto;
}

.form-section {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 5px;
}

.section-header {
  background-color: #f2f2f2;
  padding: 1px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-left: 5px solid #4caf50;
  justify-content: space-between;
}

.section-header:hover {
  background-color: #ffffff00;
  color: #4caf50;
}


.section-header p {
  margin: 10px;
}

.section-header span {
  margin: 10px;
}

.form-questions {
  padding: 5px;
}

.form-question {
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 100%;
  border-radius: 10px;
  margin-left: 45%;
}

.selectform {
  width: 100%;
}


.content-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-icon {
  font-size: 24px;
  color: #4caf50;
}

.content-icon {
  font-size: 24px;
  color: #4caf50;
}
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-size: 14px;
}

.react-datepicker__day {
  color: #333;
}

.react-datepicker__day--selected {
  background-color: #4caf50;
  color: #fff;
}

.react-datepicker__day--selected:hover {
  background-color: #00ff00;
  color: #fff;
}


/* Estilos para resaltar texto seleccionado en CustomTextarea */
.CustomTextarea-textarea:focus {
  border: 2px solid #4caf50;
  outline: none;
}

@media only screen and (min-width: 1200px) {
  .container-body-prev {
    max-width: 90%; /* Reducir el ancho máximo para pantallas aún más grandes */
  }

  .section-header {
    border-left: 3% solid #4caf50; /* Ajustar el tamaño del borde izquierdo */
  }

  .input,
  .selectform {
    border-radius: 1.5%; /* Ajustar el border-radius */
  }

  .content-icon {
    font-size: 1.5%; /* Ajustar el font-size */
  }
}

@media only screen and (max-width: 992px) {
  .container-body-prev {
    max-width: 90%; /* Reducir el ancho máximo para pantallas medianas */
  }

  .h1,.h2{
    font-size: 2em; /* Ajustar el font-size */
  }

  .section-header {
    border-left: 2.5% solid #4caf50; /* Ajustar el tamaño del borde izquierdo */
  }

  .input,
  .selectform {
    border-radius: 2.5%; /* Ajustar el border-radius */
  }

  .content-icon {
    font-size: 2%; /* Ajustar el font-size */
  }
}

@media only screen and (max-width: 600px) {
  .container-body-prev {
    max-width: 80%; /* Reducir el ancho máximo para pantallas de celulares */
    overflow: hidden;
  }

  .h1,.h2{
    font-size: 1em; /* Ajustar el font-size */
  }

  .section-header {
    border-left: 3% solid #4caf50; /* Ajustar el tamaño del borde izquierdo */
  }

  .input,
  .selectform {
    border-radius: 3%; /* Ajustar el border-radius */
  }

  .content-icon {
    font-size: 1.5%; /* Ajustar el font-size */
  }
}

@media only screen and (max-width: 300px) {
  .container-body-prev {
    max-width: 100%; 
    width: 50%; /* Reducir el ancho máximo para pantallas de celulares */
    overflow: hidden;
  }

  .h1,.h2{
    font-size: 1em; /* Ajustar el font-size */
  }

  .section-header {
    border-left: 3% solid #4caf50; /* Ajustar el tamaño del borde izquierdo */
  }

  .input,
  .selectform {
    border-radius: 3%; /* Ajustar el border-radius */
  }

  .content-icon {
    font-size: 1.5%; /* Ajustar el font-size */
  }
}