.page {
    max-width: 100%;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: rgba(245, 244, 244, 0.06);
    border-radius: 20px;
    width: 88.5%; 
    height: 100%;
    
}


.User-page {
  max-width: 100%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
  margin-left: 2%;
  margin-top: 2%;
}

.Content-user-icon {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    background-color: #fff;
    text-align: center; /* Centra horizontalmente el texto */
  }

.Content-user-icon svg {
    width: 300px;
    height: 300px;
    color: #009940;
  }

.Content-user {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    height: 50%;
    display: flex;
    margin-bottom: 20px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    background-color: #fff;
    text-align: center; /* Centra horizontalmente el texto */
    border-left: 1px solid #DADCE0;
    margin-top: 2%;
  }

  .Content-user p{
    font-weight: bold;
  }
  
  .Content-user form {
    max-width: 100%;
    width: 95%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .form-cont {
    display: flex;
    margin-bottom: 10px;
  }
  
  .form-cont label {
    width: 150px; /* Ancho fijo para los labels */
    margin-right: 20px; /* Espacio entre el label y el input */
    text-align: right; /* Alinear el texto del label a la derecha */
    color: black; /* Color negro para el texto del label */
  }
  
  .form-cont input,
  .form-cont select {
    flex: 1; /* Hace que el input o select ocupe todo el espacio restante */
    padding: 5px; /* Espacio interno del input o select */
    margin-bottom: 15px;
}

.btn-edit-user{
    display: flex;
    flex-direction: row;
}
@media only screen and (min-width: 1px) and (max-width: 599px) {
    .User-page {
        max-width: 100%;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        overflow-y: hidden;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
        margin-left: 2%;
        margin-top: 2%;
      }

      .Content-user {
        max-width: 100%;
        max-height: 100%;
        width: 80%;
        height: 50%;
        display: flex;
        margin-bottom: 20px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        overflow-y: hidden;
        background-color: #fff;
        text-align: center; /* Centra horizontalmente el texto */
        border: 1px solid #DADCE0;
      }

      .Content-user-icon {
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: auto;
        display: flex;
        overflow: hidden;
        overflow-y: hidden;
        background-color: #fff;
      }
      .Content-user-icon svg {
        width: 100px;
        height: 100px;
        color: #009940;
      }

      .Content-user form {
        width: 100%;
        max-width: 400px; /* Ancho máximo para el formulario */
        margin: 0 auto; /* Centra el formulario horizontalmente */
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .form-cont {
        width: 100%;
        margin-bottom: 15px;
        flex-direction: column-reverse;
      }
      
      .form-cont label {
        width: 100%; /* Ancho del label igual al del contenedor */
        text-align: left; /* Alinear el texto del label a la izquierda */
        color: black;
      }
      
      .form-cont input,
      .form-cont select {
        width: calc(100% - 10px); /* Ancho del input igual al del contenedor - 10px */
        padding: 5px;
        margin-bottom: 10px;
      }

      .btn-edit-user{
        display: flex;
        flex-direction: column;
    }
}
