.content_region {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  overflow: hidden ;
  overflow-y: auto;
}
.content_region span{
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden ;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.content_region span::after{
  width: 100%;
  max-height: 100%;
  height: 100%;/* Centra el contenido horizontalmente */
  overflow: hidden ;
  background-color: #fff;
}
.content_region span:hover {
  background-color: #fff; 
}

.btn-option {
  cursor: pointer;  /* Animación suave al hacer hover */
}

.container {
  margin: auto;
  display: flex;
  width: 98%;
  border-radius: 8px;
  background-color: #fff; /* Color de fondo */
  display: flex; /* Utilizar flexbox */
  overflow: hidden ;
  border: 1px solid #DADCE0;
}

.graphics {
  width: 60%;
  height: 90%;
}



.border-left {
  border: 1px solid #DADCE0; /* Añade borde solo al lado izquierdo */
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.content_data {
  
  width: 40%;
  text-align: center; /* Centra el texto */
  border-radius: 5px; 

}

h3 {
  font-size: 1.5em; 
  margin-bottom: 12px; 
  color: #000; 
}

.items{
  font-weight: bold;
  font-size: 1em;
}

.content_data p {
  margin-bottom: 10px;
  font-size: 1em;
}

.content_data ul {
  list-style: none;
  padding: 0;
}

.content_data li {
  color: black;
  font-size: 1em;
}



@media (min-width: 150px) and (max-width: 650px) {
  .container {
    flex-direction: column; /* Cambia a disposición horizontal */
    overflow-y: auto;
    overflow: hidden;
  }

  .graphics {
    max-width: 100%;
    width:99.1%; /* Ocupa la mitad del ancho en pantallas pequeñas */
    height: 50vh;
  }

  .border-left {
    display: block; /* Muestra el borde izquierdo en pantallas pequeñas */
    max-height: 5vh; /* Limita la altura */
    height: 100%; /* Utiliza el 100% del alto disponible */
    margin-left: 5%;
    margin-right: 5%;
  }
  .content_data{
    margin: auto;
  }
}

/* Estilos para pantallas más grandes de 1000px hasta 2000px */
@media (min-width: 1000px) and (max-width: 2000px) {
  .content_data h3 {
    font-size: 1.5em; /* Incrementar el tamaño del texto */
  }

  .content_data .icon {
    font-size: 2em; /* Incrementar el tamaño de los iconos */
  }
  .content_data p,
  .content_data li,
  h3{
    margin:auto;
    font-size: 1.3em;
    text-align: center;
  }
}

/* Estilos para pantallas más grandes de 2000px hasta 4000px */
@media (min-width: 2000px) and (max-width: 4000px) {
  .content_data h2 {
    font-size: 2em; /* Incrementar aún más el tamaño del texto */
  }

  .content_data .icon {
    font-size: 3em; /* Incrementar aún más el tamaño de los iconos */
  }

  .content_data p,
  .content_data li
 {
    font-size: 1.3em;
  }
  
}

