.content_region_report {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* Distribuir los elementos horizontalmente */
    margin-bottom: 20px;
    /* Espacio opcional entre elementos */

}

.barra-progreso-#E95837 {
    background-color: #E95837;
}

.barra-progreso-#F08235 {
    background-color: #F08235;
}

.barra-progreso-#009940 {
    background-color: #009940;
}

.barra-progreso-black {
    background-color: black;
}

/* Estilos para el contenedor "grafica" */
.grafica {
    width: 60%;
    margin: 10px;
    border: 1px solid #DADCE0;  
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafica h3 {
    margin-bottom: 5px;
}



.text {
    width: 80%;
    text-align: center;
}

/* Estilos para el contenedor "results" */
.results {
    max-width: 100%;
    width: 100%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #DADCE0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.results h3 {
    margin-bottom: 10px;
}


/* Estilos adicionales para los input */
input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.Regresar_reports{
  width: 90%;
  display: flex;
  margin: auto;

}

.Btns_export {
    display: flex; /* Establecer diseño flexible */
    justify-content: space-between; /* Distribuir los elementos de manera uniforme a lo largo del eje principal (horizontalmente) */
    margin-top: 20px; /* Espacio superior */
  }


  .btn-volver{
    width: 10%;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: #009940;
    color: #fff;
    display: flex;
    margin: 5px;
    margin-left: auto;
  }

  .contentInter h3,
  .contentInter p{
    font-size: 1.3em;
  } 

  @media (max-width: 750px) {
    .content_region_report {
      flex-direction: column;
    }
  
    .grafica {
      width: 100%; /* Ocupa todo el ancho disponible */
      margin: 10px 0; /* Ajusta el margen superior e inferior */
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .grafica h3 {
      margin-bottom: 5px;
      font-size: 1.2em; /* Tamaño de fuente ajustado */
    }
  
    .text {
      width: 80%;
      text-align: center;
      font-size: 1em; /* Tamaño de fuente ajustado */
    }
  
    .results {
      width: 100%; /* Ocupa todo el ancho disponible */
      margin-top: 20px; /* Espacio opcional entre elementos */
      padding: 10px; /* Ajusta el relleno */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .results h3 {
      margin-bottom: 10px;
      font-size: 1.2em; /* Tamaño de fuente ajustado */
    }
  
    .progress-bar {
      width: 100%;
      height: 20px; /* Altura de la barra de progreso */
      background-color: #ccc;
      border-radius: 10px; /* Borde redondeado */
      overflow: hidden; /* Oculta el desbordamiento */
    }
  
    .progress {
      height: 100%; /* Altura de la barra de progreso */
      background-color: #E95837; /* Color de la barra de progreso */
      font-size: 0.8em; /* Tamaño de fuente ajustado */
    }

    .Regresar_reports{
      width: 90%;
      display: flex;
      margin: auto;
      flex-direction: column;
    }

    .btn-volver{
      width: 97%;
      height: 50%;
      align-items: center;
      justify-content: center;
      border-radius: 5%;
      background-color: #009940;
      color: #fff;
      display: flex;
    }
  }

    @media (min-width: 1000px) and (max-width: 2000px){
        .contentInter h3,
        .contentInter p{
                font-size: 1.5em;
         }
    }
