.content{
  max-width: 100%;
  width: 82%;
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
  border-radius: 5px; 
  overflow: hidden;
  overflow-y: auto;
  align-items: center;
  margin-top: 1%;
  margin-left: 2%;
}

.btn {
  max-width: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.btn h2 {
  display: block; /* Establecer como bloque */
  margin-bottom: 10px; /* Espacio entre los elementos */
}


.btn-options {
  display: flex;
}

.btn-option {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer; 
  margin-left: 5%;
}

.btn-option:last-child {
  margin-right: 0; /* Elimina el margen derecho del último botón */
}

.btn-option:hover {
  background-color: #45a049;
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .btn {
    flex-direction: column; /* Cambia a disposición horizontal */
  }
  .btn h2 {
    margin-bottom: 10px; /* Ajusta el margen entre el texto "Reporte" y los botones */
  }
  
  .btn-options {
    flex-direction: column; /* Cambia a disposición horizontal */
  }

}

/* Media query para pantallas medianas */
@media (max-width: 992px) {
  .btn h2 {
    margin-bottom: 15px; /* Ajusta el margen entre el texto "Reporte" y los botones */
  }
}