.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: #f0f0f0;
    height: 5%;
    overflow: hidden;
    overflow-y: auto;
  }

  
  
  .logo img {
    width: 60px; /* Tamaño del logo */
    padding: 5px;
  }

  .separador{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
  }
  
  .Casac{
    max-width: 200px;
    width: 100%; /* Tamaño del logo */
    height: 30px;
    align-items: center;
    margin-left: 8%;
    justify-content: center;
  }

  .title {
    
    align-items: center;
    justify-content: center;
  }
  
  .title p {
    width: 28vh;
    font-size: 12px;
    border-top: #000 solid 1px;
    margin: 0;
  }
  
  .divider {
    width: 2px;
    height: 80px;
    background-color: #ccc;
    margin: 10px;
  }
  
  .user-info {
    display: flex;
    flex: auto;
    align-items: center;
  }
  .lin {
    display: flex;
    flex-direction: row; 
    align-items: center; 
  }

  .lin p {
    font-size: 20px;
    color: #012B31;
    margin: 10px;
  }
  .user-info svg {
    width: 30px;
    height: 30px;
    color: #009940;
  }
  
  .user {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
  }

  .btn_us {
    font-size: 20px;
    color: #012B31;
    margin: 10px;
  }

  .user svg {
    width: 30px;
    height: 30px;
    color: #009940;
  }
  
  @media (max-width: 250px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
    .logo img {
      width: 40px; /* Reduce el tamaño del logo */
      padding: 5px; /* Reducción del espacio alrededor del logo */
    }
    .Casac {
      width: 80%; /* Tamaño del logo */
      height: 20px; /* Altura del logo */
      margin: 5px auto; /* Centra el logo verticalmente */
    }
  
    .title p {
      font-size: 15px; /* Reduce el tamaño del texto */
      width: 25vh; /* Reduce el ancho para pantallas medianas */
      font-weight: bold;
    }
  
    .user {
      display: flex;
      flex-direction: row;
      justify-content: space-around; /* Alinea los elementos horizontalmente */
      width: 100%; /* Asegura que ocupen todo el ancho */
    }
  
    .lin {
      margin: 0 5px; /* Espacio entre los touchables */
    }
  
    .user-info {
      order: 1; /* Cambia el orden de aparición en la columna */
    }
  
    .user {
      order: 2; /* Cambia el orden de aparición en la columna */
    }

    .lin p {
      font-size: 12px; /* Reducir el tamaño de fuente para pantallas medianas */
    }
    .user-info svg {
      width: 20px; /* Reducir el tamaño del icono para pantallas medianas */
      height: 20px;
    }
    .btn_us {
      font-size: 12px; /* Tamaño de fuente ajustado para pantallas medianas */
    }
    .user svg {
      width: 20px; /* Tamaño de icono ajustado para pantallas medianas */
      height: 20px;
    }
    .user-info ,
    .user{
      height: 3vh;
    } 
  }
  
  
  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
    .logo img {
      width: 60px;
      padding: 5px;
    }
    .Casac {
      width: 100%; /* Tamaño del logo */
      height: auto;
      display: flex;
      margin: auto;
    }
  
    .title p {
      font-size: 0.8em;
      width: 100%; /* Reduce el ancho para pantallas medianas */
      text-align: center;
      font-weight: bold;
    }
    .divider {
      display: none; /* Oculta el separador */
    }
    .user-info ,
    .user{
      height: 3vh;
      
    } 
    .lin p {
      font-size: 16px; /* Reducir el tamaño de fuente para pantallas medianas */
    }
    .user-info svg {
      width: 20px; /* Reducir el tamaño del icono para pantallas medianas */
      height: 20px;
    }
    .btn_us {
      font-size: 16px; 
    }
    .user svg {
      width: 20px; /* Tamaño de icono ajustado para pantallas medianas */
      height: 20px;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .logo img {
    width: 60px;
    padding: 5px;
  }
  .Casac {
    width: 50%;
    height: auto;
    margin:auto ;
    display: flex;
  }
  
  .title p {
    font-size: 0.9em;
    width: 40vw; /* Reduce el ancho para pantallas medianas */
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1em; /* Reducir el tamaño de fuente para pantallas medianas */
  }
  .user-info svg {
    width: 20px; /* Reducir el tamaño del icono para pantallas medianas */
    height: 20px;
  }
  .btn_us {
    font-size: 1em; /* Tamaño de fuente ajustado para pantallas medianas */
    margin: 8px; /* Margen ajustado para pantallas medianas */
  }
  .user svg {
    width: 20px; /* Tamaño de icono ajustado para pantallas medianas */
    height: 20px;
  }

}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .logo img {
    width: 70px;
    padding: 5px;
  }
  .Casac {
    width: 40%;
    height: auto;
    margin:auto ;
    display: flex;
  }

  .title p {
    font-size: 1em;
    width: 40vw; /* Reduce el ancho para pantallas medianas */
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1.2em; /* Reducir el tamaño de fuente para pantallas medianas */
  }
  .user-info svg {
    width: 25px; /* Reducir el tamaño del icono para pantallas medianas */
    height: 25px;
  }
  .btn_us {
    font-size: 1.2em; /* Tamaño de fuente ajustado para pantallas medianas */
    margin: 8px; /* Margen ajustado para pantallas medianas */
  }
  .user svg {
    width: 25px; /* Tamaño de icono ajustado para pantallas medianas */
    height: 25px;
  }

}



/* Estilos para pantallas grandes */
@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  .header {
    max-width: 4000px; /* Limitar el ancho máximo del encabezado a 400px */
    
  }

  .logo img {
    width: 75px; 
    padding: 5px; 
  }
  .Casac {
    width: 40%; /* Tamaño del logo */
    height: auto;
    display: flex;
    margin: auto;
  }
  .title p {
    font-size: 1em;
    width: 32vw;
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1em; /* Restablecer el tamaño de fuente para pantallas grandes */
  }
  .user-info svg {
    width: 30px; /* Restablecer el tamaño del icono para pantallas grandes */
    height: 30px;
  }
  .btn_us {
    font-size: 1em; /* Tamaño de fuente normal para pantallas grandes */
    margin: 10px; /* Margen normal para pantallas grandes */
  }
  .user svg {
    width: 30px; /* Tamaño de icono normal para pantallas grandes */
    height: 30px;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1500px) {
  .header {
    max-width: 4000px; /* Limitar el ancho máximo del encabezado a 400px */
    
  }

  .logo img {
    width: 75px; 
    padding: 5px; 
  }
  .Casac {
    width: 40%; /* Tamaño del logo */
    height: auto;
    display: flex;
    margin: auto;
  }
  .title p {
    font-size: 1.2em;
    width: 30vw;
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1em; /* Restablecer el tamaño de fuente para pantallas grandes */
  }
  .user-info svg {
    width: 30px; /* Restablecer el tamaño del icono para pantallas grandes */
    height: 30px;
  }
  .btn_us {
    font-size: 1em; /* Tamaño de fuente normal para pantallas grandes */
    margin: 10px; /* Margen normal para pantallas grandes */
  }
  .user svg {
    width: 30px; /* Tamaño de icono normal para pantallas grandes */
    height: 30px;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
  .header {
    max-width: 4000px; /* Limitar el ancho máximo del encabezado a 400px */
    
  }

  .logo img {
    width: 75px; 
    padding: 5px; 
  }
  .Casac {
    width: 40%; /* Tamaño del logo */
    height: auto;
    display: flex;
    margin: auto;
  }
  .title p {
    font-size: 1.2em;
    width: 24vw;
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1em; /* Restablecer el tamaño de fuente para pantallas grandes */
  }
  .user-info svg {
    width: 30px; /* Restablecer el tamaño del icono para pantallas grandes */
    height: 30px;
  }
  .btn_us {
    font-size: 1em; /* Tamaño de fuente normal para pantallas grandes */
    margin: 10px; /* Margen normal para pantallas grandes */
  }
  .user svg {
    width: 30px; /* Tamaño de icono normal para pantallas grandes */
    height: 30px;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2500px) {
  .header {
    max-width: 4000px; /* Limitar el ancho máximo del encabezado a 400px */
  }

  .logo img {
    width: 100px; 
    padding: 5px; 
  }
  .Casac {
    width: 40%; /* Tamaño del logo */
    height: auto;
    display: flex;
    margin: auto;
  }
  .title p {
    font-size: 1.5em;
    width: 23vw;
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1.5em; /* Restablecer el tamaño de fuente para pantallas grandes */
  }
  .user-info svg {
    width: 50px; /* Restablecer el tamaño del icono para pantallas grandes */
    height: 50px;
  }
  .btn_us {
    font-size: 1.5em; /* Tamaño de fuente normal para pantallas grandes */
    margin: 10px; /* Margen normal para pantallas grandes */
  }
  .user svg {
    width: 50px; /* Tamaño de icono normal para pantallas grandes */
    height: 50px;
  }
}

@media only screen and (min-width: 2500px) and (max-width: 3000px) {
  .header {
    max-width: 4000px; /* Limitar el ancho máximo del encabezado a 400px */
  }

  .logo img {
    width: 100px; 
    padding: 5px; 
  }
  .Casac {
    width: 40%; /* Tamaño del logo */
    height: auto;
    display: flex;
    margin: auto;
  }
  .title p {
    font-size: 1.5em;
    width: 20vw;
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1.5em; /* Restablecer el tamaño de fuente para pantallas grandes */
  }
  .user-info svg {
    width: 50px; /* Restablecer el tamaño del icono para pantallas grandes */
    height: 50px;
  }
  .btn_us {
    font-size: 1.5em; /* Tamaño de fuente normal para pantallas grandes */
    margin: 10px; /* Margen normal para pantallas grandes */
  }
  .user svg {
    width: 50px; /* Tamaño de icono normal para pantallas grandes */
    height: 50px;
  }
}

@media only screen and (min-width: 3000px) and (max-width: 4000px) {
  .header {
    max-width: 4000px; /* Limitar el ancho máximo del encabezado a 400px */
  }

  .logo img {
    width: 100px; 
    padding: 5px; 
  }
  .Casac {
    width: 40%; /* Tamaño del logo */
    height: auto;
    display: flex;
    margin: auto;
  }
  .title p {
    font-size: 1.5em;
    width: 15vw;
    font-weight: bold;
    text-align: center;
  }
  .lin p {
    font-size: 1.5em; /* Restablecer el tamaño de fuente para pantallas grandes */
  }
  .user-info svg {
    width: 50px; /* Restablecer el tamaño del icono para pantallas grandes */
    height: 50px;
  }
  .btn_us {
    font-size: 1.5em; /* Tamaño de fuente normal para pantallas grandes */
    margin: 10px; /* Margen normal para pantallas grandes */
  }
  .user svg {
    width: 50px; /* Tamaño de icono normal para pantallas grandes */
    height: 50px;
  }
}