.inicio{
  display: flex;
  background-color: gray;
}
p{
  
  text-align: start;
  color: black;
  width: 70%;
}


.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  display: flex;
}

.actions-container {
  display: flex;
}

.actions {
  display: flex;
  padding: 8px;
  margin-right: 5px;
  text-align: center; 
  width: 60px;
  height: 30px;
}

th:last-child, td:last-child {
  width: 10%;
  white-space: nowrap; /* Evita el salto de línea en la última columna */
}