.custom-modal {
  max-width: 100%;
  width: 30%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(45, 46, 48, 0.2); 
  border-radius: 10px;
  padding: 0;
  overflow-y: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

 .custom-modal h2 {
  color: #009940;
}

.custom-modal label {
  color: #000;
}

.custom-modal form {
  max-width: 1000px;
  width: 95%;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.custom-modal .form-container {
  width: 100%;
  align-items: center;
}

.custom-modal .form-container > * {
  width: calc(50% - 10px);
  margin-bottom: 5px;
  border-radius: 10px;
  float: left;
}

.custom-modal .form-container > *:nth-child(12n) {
  margin-right: 0;
}
.custom-modal .form-container .exception{
  width: 100%;
  align-items: center;
}

.custom-modal .form-container .exception> * {
  width: calc(50% - 10px);
  margin-bottom: 5px;
  border-radius: 10px;
  float: left;
}

.custom-modal .form-container .exception> *:nth-child(12n) {
  margin-right: 0;
}

.custom-modal .button-container {
  margin-top: auto;
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: flex-end;
}


.custom-modal .button-container .btns_usuarios{
  font-size: 1em;
  background-color: #009940;
}

.custom-modal .modal-content-wrapper {
  overflow-y: auto; /* Enable vertical scroll */
  max-height: 500px; /* Adjust height as needed */
}



@media (max-width: 1200px) {
  .custom-modal {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .custom-modal {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .custom-modal {
    max-width: 100%;
    width: 65%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    overflow-y: auto;
  }

  .custom-modal .form-container > * {
    width: calc(100% - 20px); /* Cambiar el ancho al 100% */
    margin-bottom: 5px; /* Ajustar el margen inferior */
    border-radius: 10px;
  }
  .custom-modal .button-container {
    margin-top: 0;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  
} 
