.pag {
  width: 100%;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.content-complet {
  display: flex;
  flex: 1; 
  overflow: hidden;
}

.Nav {
  flex: 0 0 10%;
  width: 14.5%;
  position: fixed; /* Agrega posición fija */
  top: 10%; /* Fija la posición en la parte superior */
  left: 0; /* Fija la posición en el lado izquierdo */
  height: 100vh; /* Establece la altura para ocupar toda la altura de la pantalla */
  overflow-y: auto; /* Añade scroll si es necesario */
}

.paginas {
  flex: 1;
  height: auto; /* La altura se ajustará automáticamente */
  margin-left: 15%; /* Añade un margen izquierdo para que el contenido no se superponga con el menú de navegación */
  overflow-y: auto; /* Añade scroll si es necesario */
}

button {
    padding: 5px;
    margin: 5px;
    background-color: #3498db;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 0.25em;
    color: #fff;
    font-size: 1em;
  }

  

/* Estilos específicos para el botón "Crear" y "Cerrar" */
  button.create-button, button.close-button {
    background-color: #34db5e;
    color: #fff;
    text-align: center;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 46%; 
    text-decoration: none;
  }
  
  /* Espaciado entre botones */
  button.create-button + button.close-button {
    margin-left: 1%; 
  }

  /* Estilos para el botón de enviar */
button.actions {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media only screen and (min-width: 1px) and (max-width: 400px) {

  .Nav {
    width: 30%;
    position: fixed; /* Agrega posición fija */
    top: 30vh; /* Fija la posición en la parte superior */
    left: 0; /* Fija la posición en el lado izquierdo */
    height: 100vh; /* Establece la altura para ocupar toda la altura de la pantalla */
    overflow-y: auto; /* Añade scroll si es necesario */
    z-index: 1;
  }

  .paginas {
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal */
    overflow-y: auto; /* Añade scroll si es necesario */
    height: auto; /* Altura fija */
    overflow: hidden;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

  .Nav {
    width: 30%;
    position: fixed; /* Agrega posición fija */
    top: 20vh; /* Fija la posición en la parte superior */
    left: 0; /* Fija la posición en el lado izquierdo */
    height: 100vh; /* Establece la altura para ocupar toda la altura de la pantalla */
    overflow-y: auto; /* Añade scroll si es necesario */
    z-index: 1;
  }

  .paginas {
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal */
    overflow-y: auto; /* Añade scroll si es necesario */
    height: auto; /* Altura fija */
    overflow: hidden;
  }
}


/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Nav {
    width: 20%;
    position: fixed; /* Agrega posición fija */
    top: 20vh; /* Fija la posición en la parte superior */
    left: 0; /* Fija la posición en el lado izquierdo */
    height: 100vh; /* Establece la altura para ocupar toda la altura de la pantalla */
    overflow-y: auto; /* Añade scroll si es necesario */
  }

  .paginas {
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal */
    overflow-y: auto; /* Añade scroll si es necesario */
    height: auto; /* Altura fija */
  }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1025px) and (max-width:2000px){
  .Nav {
    width: 13%;
    position: fixed; /* Agrega posición fija */
    top: 15vh; /* Fija la posición en la parte superior */
    left: 0; /* Fija la posición en el lado izquierdo */
    height: 100vh; /* Establece la altura para ocupar toda la altura de la pantalla */
    overflow-y: auto; /* Añade scroll si es necesario */
  }

  .paginas {
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal */
    overflow-y: auto; /* Añade scroll si es necesario */
    height: auto; /* Altura fija */
  }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 2000px) and (max-width:4000px){
  .Nav {
    width: 13%;
    position: fixed; /* Agrega posición fija */
    top: 10vh; /* Fija la posición en la parte superior */
    left: 0; /* Fija la posición en el lado izquierdo */
    height: 100vh; /* Establece la altura para ocupar toda la altura de la pantalla */
    overflow-y: auto; /* Añade scroll si es necesario */
  }

  .paginas {
    flex: 1; /* Ocupa todo el espacio disponible en la dirección principal */
    overflow-y: auto; /* Añade scroll si es necesario */
    height: auto; /* Altura fija */
  }
}
